<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Cell Number</th>
        <th>Profession</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{maintenance.name}}</td>
        <td>{{maintenance.lastname}}</td>
        <td>{{maintenance.emailm}}</td>
        <td>{{maintenance.gender}}</td>
        <td>{{maintenance.phonenumber}}</td>
        <td>{{maintenance.profession}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary"(click)="gotolist()">Back</button>
</div>
