<div class="container">
  <div class="">

  </div>
  <br><br><br>
  <div class="haut">
    <h3 style="display:inline-block;">List Of Technicians</h3>
    <button type="button" class="float-right btn btn-success" (click)="goToAddMaintenance()" style="margin-bottom:30px; display:inline-block;">Add new technician</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Cell Number</th>
        <th>Profession</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let maintenance of maintenances" >
        <td>{{maintenance.name}}</td>
        <td>{{maintenance.lastname}}</td>
        <td>{{maintenance.emailm}}</td>
        <td>{{maintenance.gender}}</td>
        <td>{{maintenance.phonenumber}}</td>
        <td>{{maintenance.profession}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goToEditMaintenance(maintenance.maintenanceId)">Edit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="goToViewMaintenance(maintenance.maintenanceId)">View</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteMaintenance(maintenance.maintenanceId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
